.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body_div_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.body_div_item {
  float: left;
  width: 200px;
  margin: 1em;
  text-align: center;
}
